<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Album title</h3>
    <p th:text="${album.title}"></p>
    <h3>Artist</h3>
    <p th:text="${album.artist}"></p>
    <img th:src="${album.imageUrl}"/>
  </div>

  <div>
    <h3>Songs</h3>
    <table>
      <tr>
        <th>trackNumber</th>
        <th>title</th>
        <th>length</th>
      </tr>
      <tr th:each="song: ${album.songs}">
        <td th:text="${song.trackNumber}"></td>
        <td th:text="${song.title}"></td>
        <td th:text="${song.length}"></td>
      </tr>
    </table>
  </div>


</body>
</html>